<div class="w3-third">

    <div class="w3-white w3-text-grey w3-card-4">
        <!-- @falvojr: This container has been modified to not use a profile picture. -->
        <div class="w3-container">
            <h2>Venilton FalvoJr</h2>
        </div>
        <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-indigo"></i>Líder Técnico na DIO</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-indigo"></i>Araraquara-SP, Brasil</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-indigo"></i>falvojr@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-indigo"></i>(16) 99721-8281</p>
            <hr>

            <p class="w3-large">
                <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-indigo"></i>Skills</b>
            </p>
            <app-bar *ngFor="let skill of programming" [title]="skill.title" [accomplishedBar]="skill.accomplishedBar" ></app-bar>
            <br>
            <p class="w3-large">
                <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-indigo"></i>Languages</b>
            </p>
            <app-bar *ngFor="let skill of languages" [title]="skill.title" [accomplishedBar]="skill.accomplishedBar" ></app-bar>
            <br>
        </div>
    </div><br>

    <!-- End Left Column -->
</div>